  
<!-- <div style="margin-top:36px" class="mb-3">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" 
  placeholder="Renk giriniz">
</div>
<select [(ngModel)]="currentColor" class="form-select" (change)="setQueryParams(currentColor)" aria-label="Default select example">
  <option [selected]="isAllColorSelected()" [ngValue]=undefined>Tüm renkler</option>
  <option [selected]="isCurrentColor(color)" *ngFor="let color of colors |colorFilter:filterText; index as i" [ngValue]="color">{{color.colorName}}</option>
</select> -->



<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
  <div class="spinner-grow text-info" role="status" aria-hidden="true"></div>
</div>
<div class="mb-3">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="colorFilter" placeholder="Renk giriniz...">
</div>
<li [class] = "getAllColorClass()" routerLink = "/cars">Tüm Araçlar</li>
<ul *ngIf="dataLoaded==true" class="list-group">
  <li (click)="setCurrentColor(color)" *ngFor="let color of colors | colorFilter:filterText" 
  [class]="getCurrentColorClass(color)" routerLink = "/cars/color/{{color.colorId}}">{{color.colorName}}</li>
</ul>








<!-- 
    <li (click)="setCurrentColor(color)" 
    routerLink="/cars/{{color.colorId}}" 
    *ngFor="let color of colors" 
    [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
  </ul>
  <h5 *ngIf="currentColor">{{currentColor.colorName}} seçtiniz</h5>

  


  <li class="list-group-item active" aria-current="true">Renkler</li> -->