

 <nav class="navbar navbar-expand-lg" style="background-color: #212121" >
  <a class="navbar-brand" href="#">ReCap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Araba İşlemleri
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  routerLink="cars" >Arabalar</a>
          <a class="dropdown-item" routerLink="cars/add" >Araba ekle</a>
          <a class="dropdown-item" routerLink="cars/list">Araba Listesi</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Renk İşlemleri
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="colors" >Renkler</a>
          <a class="dropdown-item" routerLink="colors/add" >Renk ekle</a>
          <a class="dropdown-item"routerLink="colors/update">Renkleri Güncelle</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Marka İşlemleri
        </a>
        <div class="dropdown-menu"   aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="brands" >Markalar</a>
          <a class="dropdown-item" routerLink="brands/add" >Marka ekle</a>
          <a class="dropdown-item"  routerLink="brands/update">Markaları Listele</a>
        </div>
      </li>
    </ul>
    <div class="text-end" >
      <button routerLink="login" type="button" class="btn btn-success" style="margin-right: 10px;    background-color: #12a661;
          border-color: #084e2d;">
        Giriş yap
      </button>
      <button routerLink="register" type="button" class="btn btn-success" style="    background-color: #12a661;
          border-color: #084e2d;">
        Kayıt ol
      </button>
    </div>
  </div>
</nav>
<div style="   margin-top: 40px"></div>


