<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rent A Car Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "/cars">ARAÇLAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KAMPANYALAR</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listeler
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/cars/list">Araba Listesi</a></li>
            <li><a class="dropdown-item" routerLink='/brands/list'>Marka Listesi</a></li>
            <li><a class="dropdown-item" routerLink='/colors/list'>Renk Listesi</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOKASYONLAR</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-success me-3" class="rounded-pill"  type="submit" class="login-btn">ÜYE GİRİŞİ</button>
        <button class="btn btn-outline-success " class="rounded-pill"  type="submit" class="signup-btn">ÜYE OL</button>

      </form>
    </div>
  </div>
</nav>
