
  
<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
  <div class="spinner-grow text-info" role="status" aria-hidden="true"></div>
</div>
<div class="my-1">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="brandFilter" placeholder="Araç markası giriniz...">
</div>
<li [class] = "getAllBrandClass()" routerLink = "/cars">Tüm Araçlar</li>
<ul *ngIf="dataLoaded==true" class="list-group">
  <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands | brandFilter:filterText" 
  [class]="getCurrentBrandClass(brand)" routerLink = "/cars/brand/{{brand.brandId}}">{{brand.brandName}}</li>
</ul>









<!--routerLink  =  belirli bir istege göre değişecek olsn kısmlarr -->
<!--(click)="setCurrentBrand(brand)  : ben marka ya göre getirmek istersem eger bunu ts de yapacgım kodunu -->
<!--[class]= eger ben bunu componenttteki bir bilgiye göre değiştirmekn istersem 
  getCurrentBrandClass(brand)  = ıo anki markayı mavi yap 
 routerLink="/cars/{{brand.brandId}}"  o anki markama ait arabalar gözüksün
 

-->


