


<ul *ngIf="dataLoaded==false"  class="list-group">
    <li class="list-group-item active" aria-current="true">Markalar</li>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ul>

<ul *ngIf="dataLoaded==true" class="list-group">
    <li   routerLink="/cars" 
    class="list-group-item active" aria-current="true">Markalar</li>
    <li (click)="setCurrentBrand(brand)"  routerLink="/cars/{{brand.brandId}}"
     *ngFor="let brand of brands"
     [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
</ul>


<!--routerLink  =  belirli bir istege göre değişecek olsn kısmlarr -->
<!--(click)="setCurrentBrand(brand)  : ben marka ya göre getirmek istersem eger bunu ts de yapacgım kodunu -->
<!--[class]= eger ben bunu componenttteki bir bilgiye göre değiştirmekn istersem 
  getCurrentBrandClass(brand)  = ıo anki markayı mavi yap 
 routerLink="/cars/{{brand.brandId}}"  o anki markama ait arabalar gözüksün
 

-->


