<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://e7.pngegg.com/pngimages/305/829/png-clipart-blue-car-illustration-car-wash-auto-detailing-tire-vacuum-cleaner-rally-leaf-text.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8SuaKpZBaqEVYgZHRjIBUdL4vLjf_TUCbBA&usqp=CAU" class="d-block w-100" alt="...">
    </div>
   
  
 
</div>

<div class="container mt-5">  <!--mt-5=üst kısmla araya boşluk-->
    <div class="row">
        <div class="col-sm-6">
          <img class="w-100  img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeehOVpUH84wnFyZ5xV9UgoIVktH65bQ1r1g&usqp=CAU" alt="">

        </div>
        <div class="col-sm-6">
            <h2>Hakkımzda</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, cum!</p>
            <p>Modi cumque aspernatur facere eaque enim debitis, placeat magnam quidem!</p>
            <p>Quod, beatae doloribus aspernatur architecto corporis labore nulla nobis eligendi.</p>
            <p>Pariatur, vero? Ad ipsum sequi fugit quia quam, ut nisi?</p>

        </div>
       
          
      
      
      

    </div>
    <div class="row mt-5">
      <div class="col-sm-12">
        <h4>Arabalar</h4>
      </div>
      <div class="col-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmYTawwvA7MNg31wPIaodmIJmA3UCEqr6GJg&usqp=CAU" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC2nGf-WQYrnsgXtGzULlvp1Hnte1wC_cbMQ&usqp=CAU" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ5PqnbR7Iu1anHYu1pj0F1TP15Pkt95KM2A&usqp=CAU" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqbKtVb78qIrnXgfju_iv1TEhZUtJO-Zt2wg&usqp=CAU" alt="" class="w-100 img-thumbnail"></div>
      <div class="col-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb02VVYjw0N3dB26zN_2wfYCcDIjFeuV_tTA&usqp=CAU" alt="" class="w-100 img-thumbnail"></div>
    </div>

</div>


<div class="bg-dark text-light ">
<footer class="container py-5 mt-5 ">
<div class="row">
<div class="col-12 col-md">
<h5>ReCap</h5>
<small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
</div>
<div class="col-6 col-md">
<h5>Features</h5>
<ul class="list-unstyled text-small">
  <li><a class="link-secondary" href="#">Cool stuff</a></li>
  <li><a class="link-secondary" href="#">Random feature</a></li>
  <li><a class="link-secondary" href="#">Team feature</a></li>
  <li><a class="link-secondary" href="#">Stuff for developers</a></li>
  <li><a class="link-secondary" href="#">Another one</a></li>
  <li><a class="link-secondary" href="#">Last time</a></li>
</ul>
</div>
<div class="col-6 col-md">
<h5>Resources</h5>
<ul class="list-unstyled text-small">
  <li><a class="link-secondary" href="#">Resource name</a></li>
  <li><a class="link-secondary" href="#">Resource</a></li>
  <li><a class="link-secondary" href="#">Another resource</a></li>
  <li><a class="link-secondary" href="#">Final resource</a></li>
</ul>
</div>
<div class="col-6 col-md">
<h5>Resources</h5>
<ul class="list-unstyled text-small">
  <li><a class="link-secondary" href="#">Business</a></li>
  <li><a class="link-secondary" href="#">Education</a></li>
  <li><a class="link-secondary" href="#">Government</a></li>
  <li><a class="link-secondary" href="#">Gaming</a></li>
</ul>
</div>
<div class="col-6 col-md">
<h5>About</h5>
<ul class="list-unstyled text-small">
  <li><a class="link-secondary" href="#">Team</a></li>
  <li><a class="link-secondary" href="#">Locations</a></li>
  <li><a class="link-secondary" href="#">Privacy</a></li>
  <li><a class="link-secondary" href="#">Terms</a></li>
</ul>
</div>
</div>
</footer>
</div> 
