<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModal"
  style="margin-left: 10px"
>
  Go to Paymnet
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ödeme</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <label for="credit_card">Kredi Kartı Numarası </label>
          <input
            [(ngModel)] = "creditCard"
            type="text"
            class="form-control"
            id="credit_card"
            required
          />
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="expiration_date">Son Kullanma Tarihi</label>
            <input
              [(ngModel)] = "expirationDate"
              type="text"
              class="form-control"
              id="expiration_date"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="security_code">Güvenlik Kodu</label>
            <input
              [(ngModel)] = "securityCode"
              type="text"
              class="form-control"
              id="security_code"
              required
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-success" (click)="addPayment()">Onayla</button>
      </div>
    </div>
  </div>
</div>