
<app-car-filter></app-car-filter>

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div> <!--yükleniyor kısmı    dataLoaded==false  data yükü değilse  rahat göeremk içim bwskende 
controllere ekle getalle-->





<!-- <div class="mb-3">
  <label for="filterText" class="form-label">Araba Getir</label>
  <input type="text"  [(ngModel)]= "filterText"  class="form-control" id="fiterText" 
  placeholder="arama ifadesi giriniz">
</div> <!--filter için bosstrapten aldığım-->
<!-- <div  *ngIf="filterText" class="alert alert-primay"> <!--arana kısmnımı mavi yaptı -->
  <!-- {{filterText}}aradınız
</div> --> 
<!--buna bak
*ngIf="filterText" = varsa --> 





<div class="row" *ngIf="dataLoaded==true">

    
   <div class="card"   *ngFor="let car of cars" style="width: 18rem;"  >
  <img height="150px" src="{{imageUrl}}/{{car.imagePath}}"  routerLink="/cars/cardetailsbycarid/{{car.id}}" class="card-img-top" 
    class="img-fluid img-thumbnail">
  <div class="card-body">
    <h5 class="card-title">{{car.description}}</h5>
   
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Marka:{{car.brandName |uppercase}}</li> <!--hepsibni büyük harfle göster-->
    <li class="list-group-item">Model:{{car.modelYear}}</li>
    <li class="list-group-item">Günlük Fiyat:{{car.dailyPrice  |currency: "TRY":"symbol-narrow":"1.2-2"}}</li> <!--ek fiyat  currency =para birimi göster-->
  </ul> 
  <div class="card-body">
    <section style="float:left">
      <button type="button" class="btn btn-secondary  " routerLink="/cars/carDetailsbycarıd/{{car.id}}" >Detay</button>
    </section>
    <section style="float:right">

      <button type="button" class="btn btn-secondary ">Kirala</button>
    </section>
  </div>


</div>
<!--thead=başlık eklek için-->





