<div class="alert alert-info text-center">Marka İşlemleri</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 200px">Marka Id</th>
      <th scope="col" style="width: 500px">Marka Adı</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands">
      <th scope="row">{{ brand.brandId }}</th>
      <td>{{ brand.brandName }}</td>
      <td>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-outline-info"
            style="margin-right: 5px"
            routerLink="/brands/update/{{ brand.brandId }}"
          >
            Güncelle
          </button>
          <button class="btn btn-outline-danger" (click)="delete(brand)">
            Sil
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
