<div class="row">
  <div class="col-md-12" style="text-align:right">


  </div>
  <div class="col-md-12">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Marka Numarası</th>
          <th scope="col">Marka Adı</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{brand.brandId}}</td>
          <td>{{brand.brandName}}</td>
          <td><button routerLink="/brands/update/{{brand.brandId}}" class="btn btn-success" style="border-radius: 50px;">Güncelle</button></td>
          <td><button (click)="deleteBrand(brand)" class="btn btn-danger" style="border-radius: 50px;">Sil</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
