<div *ngIf="!customers" class="alert alert-info w-100" role="alert">
    Markalar YOk 
  </div>
  
  <table *ngIf="customers" class="table table-striped m-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Şirket</th>
          <th scope="col">Ad</th>
          <th scope="col">SoyAd</th>
          <th scope="col">E Mail</th>
          <th scope="col">Findex Puanı</th>
        </tr>
      </thead>
      <tbody>
          
        <tr *ngFor="let customer of customers">
          <td>{{customer.customerId}}</td>
          <td>{{customer.companyName}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.findexScore}}</td>
        </tr>
      </tbody>
    </table>
