<h2 class="text-center">Müşteri Listesi</h2>
<div class="d-flex justify-content-center">
    <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>



<table *ngIf="dataLoaded==true" class="table table-success table-striped" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Müşteri Adı</th>
        
        </tr>
    </thead>
    <tr *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
       
        <td>{{customer.customerName}}</td>
    </tr>

</table>
