  
<div class="card mb-2">
    <div class="card-body">

        <div class="row justify-content-evenly">
            <div class="col col-md-4">               
                <select [(ngModel)]="brandFilter" class="form-select form-select mb-3" aria-label="Default select example">
                    <option *ngFor="let brand of brands" [value] = "brand.id"
                    [selected] = "getSelectedBrand(brand.id)">{{brand.brandName}}</option>
                </select>
            </div>
            <div class="col col-md-4">
                <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
                    <option *ngFor="let color of colors" 
                    [selected] = "getSelectedColor(color.id)" [value]="color.id">{{color.colorName}}</option>
                </select>
            </div>
            <div class="col-lg-auto col-sm-12">
                <button class="btn btn btn-dark me-3"
                routerLink="/cars/filter/{{colorFilter}}/{{brandFilter}}">Filtrele</button> 
           
                <button
                    routerLink="/cars" class="btn btn-danger">Temizle</button>
                </div>
           
        </div>

    </div>
</div>
