<h5 class="p-3 mb-2 bg-secondary text-white">Araç Bilgisi</h5>
<div class="container">
<div class="row">
  <div class="col-md-8">

    <div *ngFor="let car of carImages let i=index" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner  " >
        <div [ngClass]="getSliderClassName(i)" >
          <img src="{{imageUrl}}{{car.imagePath}}"  class="d-block w-100" alt="Image">
        
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>



  <div class="col-md-4">
    <div *ngIf="car" class="card">
      <div class="card-body">
        <h5 class="card-title">
          <strong> {{ car.description }}</strong>
        </h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka : {{ car.brandName }}</li>
        <li class="list-group-item">Renk : {{ car.colorName }}</li>
        <li class="list-group-item">Model : {{ car.modelYear }}</li>    
        <li class="list-group-item">
          Günlük Kiralama Ücreti : {{ car.dailyPrice  | currency: "TRY":"symbol-narrow":"1.2-2"}} 
        </li>
      </ul>

      <div class="card-body">
        <app-rental [car]="car"></app-rental> 
      </div>
    </div>
  </div>
</div>